{% extends 'base_login.html.twig' %} {% block title %}login{% endblock %} {% block body %}
<div>
    <div>
        <div>
            <video width="100%" height="80%" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="http://gestionvente/public/videos/Mt_Baker.mp4" type="video/mp4">
			</video>
        </div>
        <div class="log">
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h5 class="h5" align='center'>{% trans %}Se connecter !!{% endtrans %}</h5>
                        {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey | trans(error.messageData , 'security') }}
                        </div>
                        {% endif %}
                        <form action="{{path('login')}}" method="post" style="padding-right: 10px;">
                            <div class="form-group ">
                                <input type="text" id="email" placeholder="email" required name="_username" value="{{last_username}}" class="form-control ">
                            </div>
                            <div class="form-group ">
                                <input type="password" id="password" placeholder="votre mot de pass " required name="_password" class="form-control ">
                            </div>
                            <div class="form-group ">
                                <button type="submit " class="btn btn-success ">{% trans %}Valider{% endtrans %}</button>
                            </div>
                        </form>

                    </div>
                   

                   




                </div>
            </div>

        </div>

    </div>


</div>

{% endblock %} {% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous ">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous ">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous ">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{asset('js/js.js' )}}"></script> {% endblock %}